{% extends 'edc_base/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block extra-scripts %}
	{{ block.super }}
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet"> 
	<script type="text/javascript">
	$(document).ready(function() {
    	$('#example').DataTable();
	} );
	</script>
{% endblock extra-scripts %}

{% block main %}

<style>

.bg-1 {
    background-color: #428bca; /* dark blue */
    color: #ffffff;
}
.bg-2 {
    background-color: #5bc0de; /* light Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #f9f9f9; /* White */
    color: #555555;
}

</style>

    {{ block.super }}
<div class="container bg-3 text-center">
	<h3 class="text text-muted">Search or Select a consent to correct.</h3>
</div>
<div class="container">
	<div class="raw">


  		<div id="div-home-right" class="col-md-12">

  		<div class="panel panel-info">
	    	<div class="panel-heading">Search by Subject Identifier</div>
	      	<div class="panel-body">
	      		<form id="subject_identifier" action="{% url 'correct_consent:home_url' %}" method="post">
						{% csrf_token %}
						{% crispy subject_identifier_form %}
					</form>
			 </div>
	    </div>
  
  		<div class="panel panel-info">
	    	<div class="panel-heading">Filter by community</div>
	      	<div class="panel-body">
	      		<form id="map_area" action="{% url 'correct_consent:home_url' %}" method="post">
						{% csrf_token %}
						{% crispy form %}
					</form>
			 </div>
	    </div>
	
      	<div class="panel panel-default">
    	<div class="panel-heading"><h4> Subject Consents community: {{ map_area }}</h4></div>
	    <div class="panel-body">
		<table id="example" class="table table-striped table-bordered" style="width:100%">
			<thead>
				<tr>
					<th>Subject identifier</th> <th>Correct Consent</th> <th>Community</th> <th>Age/Born</th> <th>Consented</th> <th>Consent Version</th> <th>Modified</th>
				</tr>
			</thead>
			<tbody>
			{% for consent in consents%}
				<tr>
					<td>
						{% if consent.gender == 'M' %}
					        <i class="fa fa-male fa-lg"></i>
					    {% else %}
					        <i class="fa fa-female fa-lg"></i>
					    {% endif %}
						{{ consent.subject_identifier }}
					</td>
					<td>
						{% if consent.correct_consent.id %}
							<a href={{ consent.correct_consent.href }}>edit correct consent</a>
						{% else %}
							<a href={{ consent.correct_consent.href }}>add correct consent</a>
						{% endif %}
					</td>
					<td>{{ consent.object.household_member.household_structure.household.plot.map_area }}</td>
					<td>{{ consent.dob }}</td>
					<td>{{ consent.consent_datetime }}</td>
					<td>{{ consent.version }}</td>
					<td>{{ consent.modified }}</td>
				</tr>
			{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<th>Subject identifier</th> <th>Correct Consent</th> <th>Community</th> <th>Age/Born</th> <th>Consented</th> <th>Consent Version</th> <th>Modified</th>
				</tr>
			</tfoot>
		</table>
	</div>
	</div>
	</div>
</div>
</div>

{% endblock main %}
